### Modifying sets

In [1]:
# Defining a set
set_countries = {'col', 'mex', 'bol'}

In [2]:
# Retrieving its size (length)
size = len(set_countries)
print(size)

3

In [3]:
# Membership
print('col' in set_countries)
print('per' in set_countries)

True
False

In [4]:
# add
set_countries.add('per')

In [5]:
print(set_countries)

{'col', 'mex', 'bol', 'per'}

In [6]:
# update (works to update with sets, rather than single values)
set_countries.update({'arg', 'chi', 'col'})

In [7]:
set_countries.update('usa')
print(set_countries)

{'bol', 'arg', 'per', 'a', 'u', 'col', 'chi', 'mex', 's'}

In [8]:
# remove
set_countries.remove('u')
set_countries.remove('s')
set_countries.remove('a')
print(set_countries)

{'bol', 'arg', 'per', 'col', 'chi', 'mex'}

In [9]:
# discard
set_countries.discard('usa')

In [10]:
# clear the whole set 
set_countries.clear()
print(set_countries)

set()

### Operating sets

In [11]:
set_a = {'col', 'bol', 'mex'}
set_b = {'per', 'bol'}

In [12]:
# union (logic OR)
set_ab_union = set_a.union(set_b)
set_ab_union

{'bol', 'col', 'mex', 'per'}

In [13]:
# arithmetic union
set_a | set_b

{'bol', 'col', 'mex', 'per'}

In [14]:
# intersection (logic AND)
set_ab_inter = set_a.intersection(set_b)
set_ab_inter

{'bol'}

In [15]:
# arithmetic intersection
set_a & set_b

{'bol'}

In [16]:
# difference 
set_ab_diff = set_a.difference(set_b)
set_ab_diff

{'col', 'mex'}

In [17]:
# arithmetic difference
set_a - set_b

{'col', 'mex'}

In [18]:
# symmetric difference
set_ab_symdiff = set_a.symmetric_difference(set_b)
set_ab_symdiff

{'col', 'mex', 'per'}

In [19]:
# Explained
set_ab_symdiff = set_ab_union - set_ab_inter
set_ab_symdiff

{'col', 'mex', 'per'}

In [20]:
# aritmethic symmetric difference
set_a ^ set_b

{'col', 'mex', 'per'}

In [21]:
superset = set_ab_symdiff | set_ab_diff | set_ab_inter | set_ab_union
superset

{'bol', 'col', 'mex', 'per'}

### List comprehension

In [22]:
# Start with squared brackets, we iterate through a list and retrieve a object
# The usual way:

numbers_a = []
for element in range(1, 11):
    numbers_a.append(element)

numbers_a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
# The comprehensive way

numbers_b = [element for element in range(1, 11)]
numbers_b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# Operations can also be made within
# The usual way:

numbers_c = []
for element in range (1, 11):
    numbers_c.append(element * 2)

numbers_c

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
# The comprehensive way

numbers_c =[(element * 2) for element in range(1, 11)]
numbers_c

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [26]:
# Conditions can also be integrated
# The usual way:

numbers_d = []
for element in range(1, 11):
    if element % 2 == 0:
        numbers_d.append(element * 2)

numbers_d

[4, 8, 12, 16, 20]

In [27]:
# The comprehensive way

numbers_d = [(element * 2) for element in range(1,11) if element % 2 == 0]
numbers_d

[4, 8, 12, 16, 20]

### Dictionary comprehension

In [28]:
# Start with curly brackets, we iterate through a dictionary and retrieve a key-value pair
# The usual way:

dict_a = {}
for i in range (1, 11):
    dict_a[i] = i * 2

dict_a

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [29]:
# The comprehensive way
# be i the key and i * 2 the value as in the example above

dict_a = { i: i*2 for i in range(1,11)}
dict_a

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [30]:
# It can also iterate through previously created lists and operations can also be made within
# The usual way:

import random as ran

countries = ['col', 'ecu', 'bol', 'arg']
population = {}

for country in countries:
    population[country] = ran.randint(1, 100)

population

{'col': 99, 'ecu': 50, 'bol': 61, 'arg': 39}

In [31]:
# The comprehensive way

population = { country: ran.randint(1, 100) for country in countries }
population

{'col': 43, 'ecu': 68, 'bol': 43, 'arg': 69}

In [32]:
# It can also iterate through pairs of lists to relate them
# The usual way:

names = ['Juan', 'Geral', 'Danger']
ages = [39, 32, 7]

new_dict = {}

for (name, age) in zip(names, ages):
    new_dict[name] = age

new_dict

{'Juan': 39, 'Geral': 32, 'Danger': 7}

In [33]:
# The comprehensive way

new_dict = { name: age for (name, age) in zip(names, ages) }
new_dict

{'Juan': 39, 'Geral': 32, 'Danger': 7}

In [34]:
# Conditions can also be included within
# The traditional way:

result = {}
for (country, people) in population.items():
    if people > 20:
        result[country] = people

result

{'col': 43, 'ecu': 68, 'bol': 43, 'arg': 69}

In [35]:
# The comprehensive way:

result = { country: people for (country, people) in population.items() if people > 20 }
result

{'col': 43, 'ecu': 68, 'bol': 43, 'arg': 69}

In [36]:
# Another example with strings (iterable)

text = 'Hola, soy Juanpita'
unique = { c: c.upper() for c in text if c in 'aeiou' }
unique

{'o': 'O', 'a': 'A', 'u': 'U', 'i': 'I'}

### Lists vs. Tuples vs. Sets

In [37]:
# Comparison among Lists, tuples and Sets

import pandas as pd

data = {'Mutable': [True, False, True],
        'Sorted': [True, True, False],
        'Indexable/Sliceable': [True, True, False],
        'Duplicates': [True, True, False]
       }

comparison = pd.DataFrame(data, index = ['List', 'Tuple', 'Set'])
comparison.head()

       Mutable  Sorted  Indexable/Sliceable  Duplicates
List      True    True                 True        True
Tuple    False    True                 True        True
Set       True   False                False       False

### Functions

In [39]:
# Structure of a function: (reserved keyword)(funciton name)(arguments): (function body)

def my_print(arg):
    print(f'My argument is {arg}')

my_print('Hello, world')
my_print(32)
my_print(comparison)
my_print(new_dict)

My argument is Hello, world
My argument is 32
My argument is        Mutable  Sorted  Indexable/Sliceable  Duplicates
List      True    True                 True        True
Tuple    False    True                 True        True
Set       True   False                False       False
My argument is {'Juan': 39, 'Geral': 32, 'Danger': 7}

In [41]:
# A function may return a value instead of just executing the print function to show it

def sum (a,b):
    c = a + b
    return c

my_result = sum(2, 3)
print(f'The result of my first sum funtion is: {my_result}')

The result of my first sum funtion is: 5

In [43]:
def sum (d,e):
# Directly resulting instead of assigning the sum to another variable
    return(d + e)

my_result_2 = sum(37, 5)
print(f'The result of my shorter sum function is: {my_result}')

The result of my shorter sum function is: 42

In [47]:
# Double function nesting: Print function receives what the outer sum returns, and that sum receives two sum functions as their parameters.

print(sum(sum(9,5), sum(8,10)))

32

In [53]:
# Function with multiple returns

def find_volume(h = 1, w = 1, d = 1):
    return(h*w*d, f'height is {h}, width is {w}, depth is {d}')

my_volume1 = find_volume(2,3,4)
my_volume2 = find_volume()
my_volume3 = find_volume(h = 9, w = 4)

print(my_volume1)
print(my_volume2)
print(my_volume3)
print(my_volume1[0])
volume, description = find_volume(10,20,30)

(24, 'height is 2, width is 3, depth is 4')
(1, 'height is 1, width is 1, depth is 1')
(36, 'height is 9, width is 4, depth is 1')
24

In [54]:
print(volume)
print(description)

6000
height is 10, width is 20, depth is 30


### Variable scope

In [ ]:
'''
Stands for where a variable can be used. If a variable is declared within a control structure, cycle or function, the variable can only
be used there. if it is declared outside (in it's nesting structure or in the base of the application), it will have the scope of
the parent structure and all their nested ones.
'''