### Modifying sets

In [1]:
# Defining a set
set_countries = {'col', 'mex', 'bol'}

In [2]:
# Retrieving its size (length)
size = len(set_countries)
print(size)

3

In [3]:
# Membership
print('col' in set_countries)
print('per' in set_countries)

True
False

In [4]:
# add
set_countries.add('per')

In [5]:
print(set_countries)

{'mex', 'per', 'col', 'bol'}

In [6]:
# update (works to update with sets, rather than single values)
set_countries.update({'arg', 'chi', 'col'})

In [7]:
set_countries.update('usa')
print(set_countries)

{'bol', 'u', 'per', 'a', 'chi', 'mex', 'col', 'arg', 's'}

In [8]:
# remove
set_countries.remove('u')
set_countries.remove('s')
set_countries.remove('a')
print(set_countries)

{'bol', 'per', 'chi', 'mex', 'col', 'arg'}

In [9]:
# discard
set_countries.discard('usa')

In [10]:
# clear the whole set 
set_countries.clear()
print(set_countries)

set()

### Operating sets

In [11]:
set_a = {'col', 'bol', 'mex'}
set_b = {'per', 'bol'}

In [12]:
# union (logic OR)
set_ab_union = set_a.union(set_b)
set_ab_union

{'bol', 'col', 'mex', 'per'}

In [13]:
# arithmetic union
set_a | set_b

{'bol', 'col', 'mex', 'per'}

In [14]:
# intersection (logic AND)
set_ab_inter = set_a.intersection(set_b)
set_ab_inter

{'bol'}

In [15]:
# arithmetic intersection
set_a & set_b

{'bol'}

In [16]:
# difference 
set_ab_diff = set_a.difference(set_b)
set_ab_diff

{'col', 'mex'}

In [17]:
# arithmetic difference
set_a - set_b

{'col', 'mex'}

In [18]:
# symmetric difference
set_ab_symdiff = set_a.symmetric_difference(set_b)
set_ab_symdiff

{'col', 'mex', 'per'}

In [19]:
# Explained
set_ab_symdiff = set_ab_union - set_ab_inter
set_ab_symdiff

{'col', 'mex', 'per'}

In [20]:
# aritmethic symmetric difference
set_a ^ set_b

{'col', 'mex', 'per'}

In [21]:
superset = set_ab_symdiff | set_ab_diff | set_ab_inter | set_ab_union
superset

{'bol', 'col', 'mex', 'per'}

### List comprehension

In [22]:
# Start with squared brackets, we iterate through a list and retrieve a object
# The usual way:

numbers_a = []
for element in range(1, 11):
    numbers_a.append(element)

numbers_a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
# The comprehensive way

numbers_b = [element for element in range(1, 11)]
numbers_b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# Operations can also be made within
# The usual way:

numbers_c = []
for element in range (1, 11):
    numbers_c.append(element * 2)

numbers_c

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
# The comprehensive way

numbers_c =[(element * 2) for element in range(1, 11)]
numbers_c

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [26]:
# Conditions can also be integrated
# The usual way:

numbers_d = []
for element in range(1, 11):
    if element % 2 == 0:
        numbers_d.append(element * 2)

numbers_d

[4, 8, 12, 16, 20]

In [27]:
# The comprehensive way

numbers_d = [(element * 2) for element in range(1,11) if element % 2 == 0]
numbers_d

[4, 8, 12, 16, 20]

### Dictionary comprehension

In [28]:
# Start with curly brackets, we iterate through a dictionary and retrieve a key-value pair
# The usual way:

dict_a = {}
for i in range (1, 11):
    dict_a[i] = i * 2

dict_a

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [29]:
# The comprehensive way
# be i the key and i * 2 the value as in the example above

dict_a = { i: i*2 for i in range(1,11)}
dict_a

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [30]:
# It can also iterate through previously created lists and operations can also be made within
# The usual way:

import random as ran

countries = ['col', 'ecu', 'bol', 'arg']
population = {}

for country in countries:
    population[country] = ran.randint(1, 100)

population

{'col': 48, 'ecu': 73, 'bol': 83, 'arg': 97}

In [31]:
# The comprehensive way

population = { country: ran.randint(1, 100) for country in countries }
population

{'col': 5, 'ecu': 31, 'bol': 100, 'arg': 90}

In [32]:
# It can also iterate through pairs of lists to relate them
# The usual way:

names = ['Juan', 'Geral', 'Danger']
ages = [39, 32, 7]

new_dict = {}

for (name, age) in zip(names, ages):
    new_dict[name] = age

new_dict

{'Juan': 39, 'Geral': 32, 'Danger': 7}

In [33]:
# The comprehensive way

new_dict = { name: age for (name, age) in zip(names, ages) }
new_dict

{'Juan': 39, 'Geral': 32, 'Danger': 7}

In [34]:
# Conditions can also be included within
# The traditional way:

result = {}
for (country, people) in population.items():
    if people > 20:
        result[country] = people

result

{'ecu': 31, 'bol': 100, 'arg': 90}

In [35]:
# The comprehensive way:

result = { country: people for (country, people) in population.items() if people > 20 }
result

{'ecu': 31, 'bol': 100, 'arg': 90}

In [36]:
# Another example with strings (iterable)

text = 'Hola, soy Juanpita'
unique = { c: c.upper() for c in text if c in 'aeiou' }
unique

{'o': 'O', 'a': 'A', 'u': 'U', 'i': 'I'}

### Lists vs. Tuples vs. Sets

In [37]:
# Comparison among Lists, tuples and Sets

import pandas as pd

data = {'Mutable': [True, False, True],
        'Sorted': [True, True, False],
        'Indexable/Sliceable': [True, True, False],
        'Duplicates': [True, True, False]
       }

comparison = pd.DataFrame(data, index = ['List', 'Tuple', 'Set'])
comparison.head()

       Mutable  Sorted  Indexable/Sliceable  Duplicates
List      True    True                 True        True
Tuple    False    True                 True        True
Set       True   False                False       False

### Functions

In [38]:
# Structure of a function: (reserved keyword)(funciton name)(arguments): (function body)

def my_print(arg):
    print(f'My argument is {arg}')

my_print('Hello, world')
my_print(32)
my_print(comparison)
my_print(new_dict)

My argument is Hello, world
My argument is 32
My argument is        Mutable  Sorted  Indexable/Sliceable  Duplicates
List      True    True                 True        True
Tuple    False    True                 True        True
Set       True   False                False       False
My argument is {'Juan': 39, 'Geral': 32, 'Danger': 7}

In [39]:
# A function may return a value instead of just executing the print function to show it

def sum (a,b):
    c = a + b
    return c

my_result = sum(2, 3)
print(f'The result of my first sum funtion is: {my_result}')

The result of my first sum funtion is: 5

In [40]:
def sum (d,e):
# Directly resulting instead of assigning the sum to another variable
    return(d + e)

my_result_2 = sum(37, 5)
print(f'The result of my shorter sum function is: {my_result}')

The result of my shorter sum function is: 5

In [41]:
# Double function nesting: Print function receives what the outer sum returns, and that sum receives two sum functions as their parameters.

print(sum(sum(9,5), sum(8,10)))

32

In [42]:
# Function with multiple returns

def find_volume(h = 1, w = 1, d = 1):
    return(h*w*d, f'height is {h}, width is {w}, depth is {d}')

my_volume1 = find_volume(2,3,4)
my_volume2 = find_volume()
my_volume3 = find_volume(h = 9, w = 4)

print(my_volume1)
print(my_volume2)
print(my_volume3)
print(my_volume1[0])
volume, description = find_volume(10,20,30)

(24, 'height is 2, width is 3, depth is 4')
(1, 'height is 1, width is 1, depth is 1')
(36, 'height is 9, width is 4, depth is 1')
24

In [43]:
print(volume)
print(description)

6000
height is 10, width is 20, depth is 30


### Variable scope

In [44]:
'''
Stands for where a variable can be used. If a variable is declared within a control structure, cycle or function, the variable can only
be used there. if it is declared outside (in it's nesting structure or in the base of the application), it will have the scope of
the parent structure and all their nested ones.
'''

# Local scope

def helloworld():
    message = 'hello world'
    return message

In [45]:
# Accessing the variable defined inside the function from outside will result in an error

print(message)

NameError: name 'message' is not defined

In [46]:
# Since the function is returning the variable, to access it it should be assigned to a variable defined outside the scope of the function.

my_message = helloworld()

# Thus the inner variable of the function will be assigned to the outer variable

print(my_message)

hello world

In [47]:
# Now, a variable defined from outside, can be used within a nested function by inheritance

speed_of_light = 299792458 # m/s

def laptime_around_the_globe():
    # Defining a local variable
    earth_diameter = 40075000 # meters
    # Accessing the outer/global variable
    time = earth_diameter/speed_of_light
    laps = 1/time
    return laps

print(laptime_around_the_globe())

7.480784978165939

### Anonymous functions: Lambdas

In [48]:
# Structure of a lambda: (reserved keyword)(arguments) : (function body)

# A regular function

def increment(input):
    return input + 1

my_regular_fx = increment(4)
print(f'Regular fx = {my_regular_fx}')

# The same, now in lambda

my_lambda_fx = lambda input : input + 1
print(f'Lambda fx = {my_lambda_fx(9)}')

Regular fx = 5
Lambda fx = 10

### Higher order functions

In [50]:
# As did way above:
# Double function nesting: Print function receives what the outer sum returns, and that sum receives two sum functions as their parameters.

print(sum(sum(9,5), sum(8,10)))

# Following this concept, a high order function is a function that receives another as an argument

def function_a(name):
    return(name.title())

function_a('juan pablo')

32

'Juan Pablo'

In [52]:
# Creating a function that expects another (HOF):

def function_b(subject, name, func):
    # The execution of the passed function is made in the body of the HOF
    assignation = f'The student {func(name)} is in the class {subject}'
    return assignation

# When summoning the function, the passed function should be named, not executed (hence, without ())
my_hof = function_b('Programming', 'juan pablo', function_a)
print(my_hof)

The student Juan Pablo is in the class Programming

In [55]:
# Extending the previous example to the usage of lambdas:

function_c = lambda name : name.title()
function_d = lambda subject, name, func : f'The student {func(name)} is in the class {subject}'

my_lambda_hof = function_d('Mathematics', 'alma marcela', function_c)
print(my_lambda_hof)

The student Alma Marcela is in the class Mathematics

### Map

In [57]:
# The ol' good way using iterables and cycle structures

numbers = tuple(range(1,5))
transform = []

for number in numbers:
    transform.append(number * 2)

print(transform)

[2, 4, 6, 8]

In [60]:
map_transform = list(map(lambda number : number * 2, numbers))
print(map_transform)

[2, 4, 6, 8]

In [65]:
# When operating with two iterables of different size, the map result will take the shorter

numbers_2 = tuple(range(5,20,3))

# len(numbers) == 4, len(numbers_2) == 5, hence, len(sum) == 4

sum = list(map(lambda x, y: x + y, numbers, numbers_2))
print(sum)
print(len(sum))

[6, 10, 14, 18]
4

In [2]:
# Using a list of dictionaries

items = [
    {
        'product': 'shirt',
        'price': 100
    },
    {
        'product': 'trunks',
        'price': 300
    },
    {
        'product': 'socks',
        'price': 50
    }
]

prices = list(map(lambda item : item['price'], items))
print(prices)

def set_taxes(item):
    item['taxes'] = item['price'] * 0.19
    return item

taxes = list(map(set_taxes, items))
print(taxes)

[100, 300, 50]
[{'product': 'shirt', 'price': 100, 'taxes': 19.0}, {'product': 'trunks', 'price': 300, 'taxes': 57.0}, {'product': 'socks', 'price': 50, 'taxes': 9.5}]

In [3]:
# Nonetheless, taxes attribute has been applied in original array as well, which might be unwanted

print(items)

[{'product': 'shirt', 'price': 100, 'taxes': 19.0}, {'product': 'trunks', 'price': 300, 'taxes': 57.0}, {'product': 'socks', 'price': 50, 'taxes': 9.5}]

In [8]:
'''
Thus, modifying the affecting function by cloning the array instance into another, will solve the problem since they now aren't
sharing positions in memory
'''

# Resetting items

items = [
    {
        'product': 'shirt',
        'price': 100
    },
    {
        'product': 'trunks',
        'price': 300
    },
    {
        'product': 'socks',
        'price': 50
    }
]

def set_taxes_new(item):
    new_item = item.copy()
    new_item['taxes'] = new_item['price'] * 0.19
    return new_item

taxes = list(map(set_taxes_new, items))
print(taxes)

[{'product': 'shirt', 'price': 100, 'taxes': 19.0}, {'product': 'trunks', 'price': 300, 'taxes': 57.0}, {'product': 'socks', 'price': 50, 'taxes': 9.5}]

In [9]:
# And the original array remains unaltered

print(items)

[{'product': 'shirt', 'price': 100}, {'product': 'trunks', 'price': 300}, {'product': 'socks', 'price': 50}]

### Filter

In [15]:
# Filters depending on a condition set in the body of the function, either lambda or named

numbers = list(range(1,6))
filtered_numbers = tuple(filter(lambda number : number % 2 == 0, numbers))
print(filtered_numbers)

(2, 4)

In [17]:
# Now, using an iterable of dictionaries:

matches = [
  {
    'home_team': 'Bolivia',
    'away_team': 'Uruguay',
    'home_team_score': 3,
    'away_team_score': 1,
    'home_team_result': 'Win'
  },
  {
    'home_team': 'Brazil',
    'away_team': 'Mexico',
    'home_team_score': 1,
    'away_team_score': 1,
    'home_team_result': 'Draw'
  },
  {
    'home_team': 'Ecuador',
    'away_team': 'Venezuela',
    'home_team_score': 5,
    'away_team_score': 0,
    'home_team_result': 'Win'
  },
]

new_matches = list(filter(lambda match : match['home_team_result'] == 'Win', matches))
print(new_matches)

[{'home_team': 'Bolivia', 'away_team': 'Uruguay', 'home_team_score': 3, 'away_team_score': 1, 'home_team_result': 'Win'}, {'home_team': 'Ecuador', 'away_team': 'Venezuela', 'home_team_score': 5, 'away_team_score': 0, 'home_team_result': 'Win'}]

### Reduce

In [24]:
# Helps processing or concluding something from an iterable, like the sum of all its numbers
import functools as ft

numbers = tuple(range(1,5))
result = ft.reduce(lambda index, number: index + number, numbers)
print(result)

# Here, the variable index is taking the value of the immediately previous return. 

#We have the tuple (1, 2, 3, 4). Thats our "numbers" object.
#Then, we use a function that receives as a parameter an accumulator and the iterable, like
#function(accumulator, iterable)
#Which in our example is: function(index, numbers)
#And it'll return the sum between these two, index + number in numbers
#Thus, reduce iterations for this example will go as follow:

# it[1]: index = 0, numbers[0] = 1, return = 0 + 1
# Now the index takes the result of the latest return (0 + 1 = 1)
# it[2]: index = 1, numbers[1] = 2, return = 1 + 2
# Same logic.
# it[3]: index = 3, numbers[2] = 3, return = 3 + 3
# it[4]: index = 6, numbers[3] = 4, return = 6 + 4

# Here, the flow gets cut, and the final return is 6 + 4 = 10.

10

### Modules

In [ ]:
# Any file ending with .py can be considered a module

def get_population():
    keys: ('col', 'bol')
    values: (300, 400)
    return keys, values